html{
    background-color:   #2A324B  ;
}
body{
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    font-family: 'Prompt', sans-serif;
    background-color:  #767B91 ;
}

h1{
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    color: #C7CCDB;
    text-shadow: 3px 3px 1px black;
    text-align: center;
    font-size: 60px;
}

img{
    display:block;
    margin: 0px auto;
}